<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <form [formGroup]="task" autocomplete="off">
        <div class="form-group">
          <label for="name">Name :</label>
          <input class="form-control" formControlName="name" id="name" name="name" type="text">
        </div>
        <div class="form-group">
          <label for="duedate">Duedate :</label>
          <input [bsConfig]="bsConfig" [minDate]="minDate" [outsideClick]="true" bsDatepicker
                 class="form-control readonly-txt" formControlName="duedate" id="duedate" name="duedate"
                 readonly="" type="text">
        </div>
        <div class="form-group">
          <label for="tag">Tag :<span [ngClass]="util.getTagClass(task.controls['tag'].value)" aria-hidden="true"
                                      class="fa fa-tag pl-2"></span></label>
          <input #pop1="bs-popover" [outsideClick]="true" [popover]="tagTemp" class="form-control readonly-txt"
                 formControlName="tag" id="tag" name="tag" placement="bottom"
                 readonly="" type="text">
        </div>
        <div class="form-group">
          <label for="priority">Priority : <span [ngClass]="util.getPriorityClass(task.controls['priority'].value)"
                                                 aria-hidden="true" class="fa fa-flag pr-1"></span></label>
          <input #pop2="bs-popover" [outsideClick]="true" [popover]="priorityTemp"
                 class="form-control readonly-txt" class="form-control readonly-txt" formControlName="priority" id="priority" name="priority"
                 placement="bottom" readonly="" type="text">
        </div>
        <div>
          <button (click)="updateTodo()" class="btn btn-danger btn-rounded btn-sm">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Tag Window Template-->
<ng-template #tagTemp>
  <ul class="tag-dropdown">
    <li (click)="onTagSelected(tag);pop1.hide()" *ngFor="let tag of tags"
        [ngClass]="task.controls['tag'].value==tag?'tag-active':''" [value]="tag" class="tag-dropdown-item"><span
      [ngClass]="util.getTagClass(tag)" aria-hidden="true" class="fa fa-tag pr-2"></span>{{tag}}</li>
  </ul>
</ng-template>

<!--Priority Window Template -->
<ng-template #priorityTemp>
  <ul class="priority-dropdown">
    <li (click)="onPrioritySelected(priority);pop2.hide()" *ngFor="let priority of priorities"
        [ngClass]="task.controls['priority'].value==priority?'priority-active':''" [value]="priority"
        class="priority-dropdown-item">
      <span [ngClass]="util.getPriorityClass(priority)" aria-hidden="true" class="fa fa-flag pr-1"></span>{{priority}}
    </li>
  </ul>
</ng-template>
