<div class="login-section container-center">
  <div class="view-header">
    <div class="header-icon">
      <span class="fa fa-unlock" aria-hidden="true"></span>
    </div>
    <div class="header-title">
      <h3>Reset Password</h3>
      <small class="help-block small">
        Please enter your credentials.
      </small>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <form [formGroup]="reset" (submit)="onSubmit()">
          <div class="form-group">
            <label for="usernameEmail">Username Or Email<span class="pl-1 required">*</span></label>
            <input type="text" id="usernameEmail"  placeholder="Enter your username or email" name="usernameEmail" formControlName="usernameEmail" class="form-control">
            <span class="help-block small">Enter your valid username or email to validate</span>
          </div>
          <div class="form-group">
            <label for="usernameEmail">Password<span class="pl-1 required">*</span></label>
            <input type="password" placeholder="******" id="password" name="password" formControlName="password" class="form-control">
            <span class="help-block small">Your hard to guess new password (minimum 6 characters)</span>
          </div>
          <div>
            <button  [disabled]="reset.invalid"  class="btn btn-danger btn-rounded btn-sm">Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
