<div class="login-section container-center">
  <div class="view-header">
    <div class="header-icon">
      <span aria-hidden="true" class="fa fa-user-o"></span>
    </div>
    <div class="header-title">
      <h3>Sign in to your account</h3>
      <small class="help-block small">
        Please enter your credentials to login.
      </small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="submit()" [formGroup]="loginFrm" autocomplete="off">
        <div class="form-group">
          <label for="userNameOrEmail">Username Or Email<span class="pl-1 required">*</span></label>
          <input class="form-control" formControlName="userNameOrEmail" id="userNameOrEmail" name="userNameOrEmail"
                 placeholder="example@gmail.com" type="text">
          <span class="help-block small">Your unique username to app</span>
        </div>
        <div class="form-group">
          <label for="password">Password<span class="pl-1 required">*</span></label>
          <input class="form-control" formControlName="password" id="password" placeholder="******" type="password">
          <span class="help-block small">Your strong password</span>
        </div>
        <div>
          <button [disabled]="loginFrm.invalid" class="btn btn-danger btn-rounded btn-sm mr-2" type="submit">Login<span
            aria-hidden="true" class="fa fa-sign-in pl-1"></span></button>
          <a class="btn btn-default btn-sm btn-rounded" routerLink="/signup">Register<span aria-hidden="true"
                                                                                           class="fa fa-user-plus pl-1"></span></a>
        </div>
      </form>
    </div>
    <div class="card-footer text-center">
      <a class="" routerLink="../forgot">Forgot Password</a>
    </div>
  </div>
  <div *ngIf="errors.length>0" class="card mt-2" style="background-color: rgba(219, 82, 75, 0.1);">
    <div class="card-body">
      <span [innerHTML]="message" style="color: #EF3D4F"></span>
    </div>
  </div>
</div>
