<cdk-virtual-scroll-viewport [ngStyle]="{'height.px':height}" itemSize="50">
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th (click)="doOrder(col.prop)" *ngFor="let col of columnDefs" [ngStyle]="{'width.%':col.width? col.width:0}">
        <span>{{col.displayName}}</span>
        <span *ngIf="col.prop!=''" [ngClass]="getClass(col.prop)" class="pl-2 fa sort-icon"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr (mouseleave)="row=-1" (mouseover)="row=i"
        *cdkVirtualFor="let todo of todoList | dataSort:orderBy:prop; let i = index;">
      <td>{{todo.id}}</td>
      <td>{{todo.name}}</td>
      <td><span [ngClass]="util.getTagClass(todo.tag)" aria-hidden="true" class="fa fa-tag pr-1"></span>{{todo.tag}}
      </td>
      <td><span [ngClass]="util.getPriorityClass(todo.priority)" aria-hidden="true"
                class="fa fa-flag pr-1"></span>{{todo.priority}}</td>
      <td><span [ngClass]="util.getStatusClass(todo.status)" class="badge badge-chip">{{todo.status}}</span></td>
      <td>{{todo.duedate}}</td>
      <td *ngIf="row!=i"></td>
      <td *ngIf="row==i">
        <span (click)="updateUpto(todo,appSetting.STATUS_IN_PROGRESS)" *ngIf="todo.status==appSetting.STATUS_NEW"
              aria-hidden="true" class="fa fa-thumb-tack action-icons pr-2 pl-1" tooltip="Click To Start"></span>
        <span (click)="updateUpto(todo,appSetting.STATUS_COMPLETED)" *ngIf="todo.status==appSetting.STATUS_IN_PROGRESS || todo.status==appSetting.STATUS_OVERDUE"
              aria-hidden="true"
              class="fa fa-check-square-o action-icons pr-2" tooltip="Mark As Complete"></span>
        <span (click)="editTodo(todo);"
              *ngIf="todo.status==appSetting.STATUS_IN_PROGRESS || todo.status==appSetting.STATUS_NEW || todo.status==appSetting.STATUS_OVERDUE"
              aria-hidden="true"
              class="fa fa-pencil-square-o action-icons pr-2" tooltip="Edit"></span>
        <span (click)="deleteTodo(todo.id)" aria-hidden="true" class="fa fa-trash-o action-icons"
              tooltip="Delete"></span>
      </td>
    </tr>
    <tr *ngIf="todoList.length==0">
      <td [attr.colspan]="columnDefs.length" class="text-center">
        No tasks in this filter at the moment <span><i aria-hidden="true" class="fa fa-meh-o pl-1"></i></span>
      </td>
    </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>
