.flag-high {
  color: var(--tomato);
}
.flag-completed {
  color: var(--clr-green)
}
.flag-low{
  color: var(--clr-default);
}
.flag-medium{
  color: var(--clr-primary);
}
.badge{
  font-size: 100%;
  font-weight: normal;
}
.badge-danger{
  background-color: var(--tomato) !important;
}
.badge-success{
  background-color: var(--clr-green) !important;
}
.badge-primary{
  background-color: var(--clr-primary) !important;
}
