<app-ng9-loading-spinner></app-ng9-loading-spinner>
<app-nav-bar></app-nav-bar>
<div class="container-fluid pt-2">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p class="text-center">Designed and developed by karthik <span aria-hidden="true" class="fa fa-heart" style="color: #EF3D4F"></span> Reach me out <span aria-hidden="true" class="fa fa-envelope pl-0 pr-1" style="color: #EF3D4F"></span>karthik.infotec98@gmail.com</p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="https://github.com/Karthikeyan1993" target="self">
        <span aria-hidden="true" class="fa fa-github action-icons"></span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/karthikeyan-karuppusamy-a44234ab/" target="self">
        <span aria-hidden="true" class="fa fa-linkedin-square action-icons"></span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://stackblitz.com/@Karthikeyan1993" target="self">
        <span aria-hidden="true" class="fa fa-bolt action-icons"></span>
      </a>
    </li>
  </ul>
</div>
