.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #949ba2;
  text-align: center;
}
.action-icons{
  color:#545b62;
  font-size: 24px;
}
.action-icons:hover{color: #EF3D4F}
.list-inline-item:not(:last-child) {
  margin-right: .9rem;
}
