<div class="login-section container-center">
  <div class="view-header">
    <div class="header-icon">
      <span aria-hidden="true" class="fa fa-user-plus"></span>
    </div>
    <div class="ml-2 header-title">
      <h3>Sign Up</h3>
      <small class="help-block small">Please enter your data to sign up.</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="submit()" [formGroup]="signUp" autocomplete="off">
        <div class="form-group">
          <label for="username">Username<span class="pl-1 required">*</span></label>
          <input (blur)="checkUserNameAlreadyAvailable('username')" class="form-control" formControlName="username"
                 id="username" name="username" placeholder="xxxxxxxx" type="text">
          <span class="help-block small">Your unique username to app (minimum 6 characters)</span>
        </div>
        <div class="form-group">
          <label for="email">Email<span class="pl-1 required">*</span></label>
          <input (blur)="checkEmailAlreadyAvailable('email')" [email] class="form-control"
                 formControlName="email" id="email" name="email" placeholder="example@gmail.com">
          <span class="help-block small">Your valid email to contact</span>
        </div>
        <div class="form-group">
          <label for="password">Password<span class="pl-1 required">*</span></label>
          <input class="form-control" formControlName="password" id="password" name="password" placeholder="******"
                 type="password">
          <span class="help-block small">Your hard to guess password (minimum 6 characters)</span>
        </div>
        <div>
          <button [disabled]="signUp.invalid || (isEmailAvailable || isUseNameAvailable) " class="btn btn-danger btn-rounded btn-sm mr-2">Register<span
            aria-hidden="true" class="fa fa-user-plus pl-1"></span></button>
          <a class="btn btn-default btn-sm btn-rounded" routerLink="/signin">Login<span aria-hidden="true"
                                                                                        class="fa fa-sign-in pl-1"></span></a>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="errMessage!=''" class="card" style="background-color: rgba(219, 82, 75, 0.1);">
    <div class="card-body">
      <span [innerHTML]="errMessage" style="color: #EF3D4F"></span>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center" style="cursor: pointer;">
    <h5><span aria-hidden="true" class="fa fa-check-circle" style="font-size: 48px;color: springgreen;"></span></h5>
    <h6>Your MyTodo account was successfully created.</h6>
    <p>We have send account activation link to your registered mail <span
      style="color: #007bff !important;">{{email}}</span></p>
  </div>
</ng-template>
