<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa fa-check-square pr-0" aria-hidden="true"></i>
    MyTodo
  </a>
  <ul class="nav navbar-nav ml-auto" *ngIf="isLoggedIn && username!=''">
    <li class="nav-item user-block">
      <span class="fa fa-user-circle user-icon pr-2" style="font-size: 30px" aria-hidden="true"></span>
      <span class="user-name" [innerHTML]="username"></span>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="ml-2 btn btn-danger btn-rounded btn-sm" (click)="logOut()">Logout</a>
    </li>
  </ul>
</nav>
