<div class="login-section container-center">
  <div class="view-header">
    <div class="header-icon">
      <span class="fa fa-unlock-alt" aria-hidden="true"></span>
    </div>
    <div class="header-title">
      <h3>Forgot Password</h3>
      <small class="help-block small">
        Please enter your credentials.
      </small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="forgot" (submit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="usernameEmail">Username Or Email<span class="pl-1 required">*</span></label>
          <input formControlName="usernameEmail" placeholder="Enter your username or email" type="text" id="usernameEmail" name="usernameEmail" class="form-control">
          <span class="help-block small">Enter your valid username or email to validate</span>
        </div>
        <div>
          <button  [disabled]="forgot.invalid"  class="btn btn-danger btn-rounded btn-sm">Validate</button>
        </div>
      </form>
    </div>
  </div>
</div>
