/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --body-bg: #1f1f1f;
  --body-cl: #f5f5f5;
  --panel-fill-bg: rgba(55, 55, 55, 0.5);
  --txt-fill-bg: rgba(55, 55, 55, 0.5);
  --bg-dark: #282828;
  --tomato: #EF3D4F;
  --clr-green: #1bbf89;
  --clr-default: #616779;
  --clr-primary: #0f83c9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body-cl);
  background-color: var(--body-bg);
}

.card {
  background-color: var(--bg-dark);
}

.badge {
  font-size: 100%;
  font-weight: normal;
}

.badge-danger {
  background-color: var(--tomato) !important;
}

.badge-success {
  background-color: var(--clr-green) !important;
}

.badge-primary {
  background-color: var(--clr-primary) !important;
}

.btn {
  min-width: 100px !important;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn-danger {
  color: #949ba2;
  background-color: transparent;
  border: 2px solid #EF3D4F;
}

.btn-danger:not(:disabled):not(.disabled):focus,
.btn-danger:not(:disabled):not(.disabled).focus {
  color: #ffffff;
  background-color: rgba(219, 82, 75, 0.1);
  border-color: #EF3D4F;
  outline: 0;
  box-shadow: none;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: rgba(219, 82, 75, 0.1);
  border-color: #EF3D4F;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: rgba(219, 82, 75, 0.1);
  border-color: #EF3D4F;
}

.btn-success {
  color: #949ba2;
  background-color: transparent;
  border: 2px solid #1bbf89;
}

.btn-success:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled).focus {
  color: #ffffff;
  background-color: rgba(27, 191, 137, 0.1);
  border-color: #1bbf89;
  outline: 0;
  box-shadow: none;
}

.btn-success:hover {
  color: #ffffff;
  background-color: rgba(27, 191, 137, 0.1);
  border-color: #1bbf89;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: rgba(27, 191, 137, 0.1);
  border-color: #1bbf89;
}

.btn-primary {
  color: #949ba2;
  background-color: transparent;
  border: 2px solid #0f83c9;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled).focus {
  color: #ffffff;
  background-color: rgba(15, 131, 201, 0.1);
  border-color: #0f83c9;
  outline: 0;
  box-shadow: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: rgba(15, 131, 201, 0.1);
  border-color: #0f83c9;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: rgba(15, 131, 201, 0.1);
  border-color: #0f83c9;
}

.btn-default {
  color: #949ba2;
  background-color: transparent;
  border: 2px solid #616779;
}

.btn-default:not(:disabled):not(.disabled):focus,
.btn-default:not(:disabled):not(.disabled).focus {
  color: #ffffff;
  background-color: rgba(97, 103, 121, 0.1);
  border-color: #616779;
  outline: 0;
  box-shadow: none;
}

.btn-default:hover {
  color: #ffffff;
  background-color: rgba(97, 103, 121, 0.1);
  border-color: #616779;
}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: rgba(97, 103, 121, 0.1);
  border-color: #616779;
}

.table {
  margin-bottom: 0px;
}

.table-dark {
  color: #fff;
  background-color: var(--bg-dark) !important;;
}

.table > thead > tr > th {
  border-bottom: none;
  cursor: pointer;
  user-select: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid rgba(17, 17, 17, 0.7215686274509804);
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #212529;
  cursor: pointer;
  user-select: none;
}

::-webkit-scrollbar {
  height: 30px;
  overflow: visible;
  width: 15px
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0
}

::-webkit-scrollbar-corner {
  background: 0 0
}

::-webkit-scrollbar-thumb {
  background-color: #414550;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 5px;
  min-height: 50%;
  padding: 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  color: rgba(255, 255, 255, .6);
  border-radius: 10px
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px;
  width: 10px
}


/* start signup and signin */
.login-section .card {
  color: #949ba2;
}

/*.login-section .panel.panel-filled {*/
/*  background-color: rgba(68, 70, 79, 0.5);*/
/*}*/

/*.login-section .panel .panel-body {*/
/*  padding: 5px 15px 15px 15px;*/
/*}*/

/*.login-section .panel.panel-filled .panel-body {*/
/*  padding-top: 10px;*/
/*}*/

/*.login-section .panel .panel-footer {*/
/*  background-color: transparent;*/
/*  border: none;*/
/*}*/

/*.login-section .panel > .panel-heading {*/
/*  color: #ffffff;*/
/*}*/

.login-section label {
  color: #ffffff;
  font-weight: 500;
}

.login-section .help-block {
  color: #6d757d;
  font-size: 13px;
}

.form-control {
  color: #949ba2;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: var(--txt-fill-bg);
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #949ba2;
  background-color: var(--txt-fill-bg);
}

.required{
  color: #EF3D4F;
}


/*.login-section .btn-space {*/
/*  margin-right: 5px;*/
/*}*/

/*.login-section .btn-accent {*/
/*  color: #949ba2;*/
/*  background-color: transparent;*/
/*  border-color: #f6a821;*/
/*}*/

/*.login-section .btn-accent:focus, .login-section .btn-accent.focus {*/
/*  color: #ffffff;*/
/*  background-color: rgba(246, 168, 33, 0.1);*/
/*  border-color: #f6a821;*/
/*  outline: 0;*/
/*  box-shadow: none;*/
/*}*/

/*.login-section .btn-accent:hover {*/
/*  color: #ffffff;*/
/*  background-color: rgba(246, 168, 33, 0.1);*/
/*  border-color: #f6a821;*/
/*}*/

/*.login-section .btn-accent:active,*/
/*.login-section .btn-accent.active,*/
/*.login-section .open > .login-section .dropdown-toggle.btn-accent {*/
/*  color: #ffffff;*/
/*  background-color: rgba(246, 168, 33, 0.1);*/
/*  border-color: #f6a821;*/
/*}*/

.login-section.container-center {
  max-width: 400px;
  margin: 3% auto 0;
  padding: 20px;
}

.login-section.container-center.lg {
  max-width: 800px;
}

.login-section .view-header {
  margin: 20px 0;
  min-height: 50px;
  padding: 0 15px;
}

.login-section .view-header .header-icon {
  font-size: 60px;
  color: var(--tomato);
  width: 68px;
  float: left;
  margin-top: -8px;
  line-height: 0;
}

.login-section .view-header .header-title {
  margin-left: 68px;
}

/* end signup and signin */
