.fa-plus-circle,
.fa-refresh {
  font-size: 24px;
  color: var(--tomato);
  cursor: pointer;
  user-select: none;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: .10rem .1rem;
}

.badge {
  position: relative;
  top: -12px;
  right: 15px;
  border-radius: 1.15rem;
}
