<div clas="row">
  <div class="col-sm-12 col-md-12 col-lg-12 pl-0">
    <ul class="list-inline pt-2">
      <li class="list-inline-item">
        <a (click)="filterData('')" class="btn btn-default btn-rounded btn-sm" href="javascript:void(0)" placement="bottom"
           tooltip="All">All
        </a>
        <span [innerHTML]="getBadgeCount(appSetting.TODO_ALL)" class="badge badge-dark"></span>
      </li>
      <li class="list-inline-item">
        <a (click)="filterData(appSetting.STATUS_NEW)" class="btn btn-info btn-rounded btn-sm" href="javascript:void(0)" placement="bottom" tooltip="New">New</a>
        <span [innerHTML]="getBadgeCount(appSetting.STATUS_NEW)" class="badge badge-info">New</span>
      </li>
      <li class="list-inline-item">
        <a (click)="filterData(appSetting.STATUS_IN_PROGRESS)" class="btn btn-primary btn-rounded btn-sm" href="javascript:void(0)" placement="bottom"
           tooltip="In Progress">In Progress
        </a>
        <span [innerHTML]="getBadgeCount(appSetting.STATUS_IN_PROGRESS)" class="badge badge-primary"></span>
      </li>
      <li class="list-inline-item">
        <a (click)="filterData(appSetting.STATUS_COMPLETED)" class="btn btn-success btn-rounded btn-sm" href="javascript:void(0)" placement="bottom"
           tooltip="Completed">Completed
        </a>
        <span [innerHTML]="getBadgeCount(appSetting.STATUS_COMPLETED)" class="badge badge-success"></span>
      </li>
      <li class="list-inline-item">
        <a (click)="filterData(appSetting.STATUS_OVERDUE)" class="btn btn-danger btn-rounded btn-sm" href="javascript:void(0)" placement="bottom"
           tooltip="Overdue">Overdue
        </a>
        <span [innerHTML]="getBadgeCount(appSetting.STATUS_OVERDUE)" class="badge badge-danger"></span>
      </li>
      <li class="list-inline-item pull-right">
        <span (click)="openTaskComp()"><i aria-hidden="true" class="fa fa-plus-circle"></i></span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="form-group has-search row col-sm-12 col-md-4 col-lg-4">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchTerm">
    </div>
    <div class="table-responsive">
      <app-data-grid (deleteEmitter)="deleteTodo($event)" (updateEmitter)="updateTodo()"
                     [columnDefs]="columnDefs" [height]="500"
                     [todoList]="todoList | dataFilter:status:'status' | dataFilter:searchTerm:'name'"></app-data-grid>
    </div>
  </div>
</div>
