<div clas="row">
  <div class="col-sm-12 col-md-12 col-lg-12 pl-0">
      <ul class="list-inline pt-2">
        <li class="list-inline-item"><a href="javascript:void(0)" class="btn btn-default btn-squared btn-sm">All</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" class="btn btn-primary btn-squared btn-sm">In Progress</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" class="btn btn-success btn-squared btn-sm">Completed</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" class="btn btn-danger btn-squared btn-sm">Overdue</a></li>
        <li class="list-inline-item pull-right"><span><i class="fa fa-plus-circle" aria-hidden="true"></i></span></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <app-data-grid [todoList]="todoList" [columnDefs]="columnDefs"></app-data-grid>
        </div>
  </div>
</div>
